<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- For Android 13+ -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- For Android 12 and below -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/> <!-- For Android 9 and below -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Camera hardware feature (optional) -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Progetto"
        tools:targetApi="31">

        <!-- FileProvider for securely sharing files -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
        </provider>

        <!-- Activity Definitions -->
        <activity
            android:name=".ui.registration.RegistrationActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_registration" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_login" />

        <activity
            android:name=".ui.fridge.FridgeActivity"
            android:exported="false"

            android:theme="@style/AppTheme"
            android:label="@string/fridge" />

        <activity android:name=".ui.fridge.CreateProductActivity"
            android:theme="@style/AppTheme"
            android:exported="false"/>


        <activity
            android:name=".ui.recipe.RecipeFocusActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false"

            android:theme="@style/AppTheme"
            android:label="@string/search" />

        <activity
            android:name=".ui.fridge.AddProductActivity"
            android:exported="false" />

        <activity
            android:name=".ui.recipe.RecipeActivity"
            android:theme="@style/AppTheme"
            android:exported="false"
            android:label="@string/recipe" />

        <activity
            android:name=".ui.home.HomeActivity"
            android:theme="@style/AppTheme"
            android:exported="false"
            android:label="@string/home" />

        <!-- Main Activity with LAUNCHER intent -->
        <activity
            android:name=".MainActivity"

            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.profile.ChangeEmailActivity" />
        <!-- Other Activities -->
        <activity
            android:name=".ui.recipe.AddRecipeActivity"

            android:exported="false"/>
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:theme="@style/AppTheme"
            android:exported="false" />

    </application>
</manifest>
